---
import data from '../../data/bakers.json';
import BakerModal from './BakerModal.astro';
---
<ul class="bakers">
    {data.map((baker) => (
        <li class="bakers-item">
            <div class="test">
                <img src={`/assets/${baker.bakerImage}.jpg`} class="bakers-item__image" alt="Profile picture of {baker.bakerName}">
            </div>

            <div>
                <h4>{baker.bakerName}, {baker.bakerAge}</h4>
                <h5>{baker.bakerJob}</h5>

                <dl>
                    <dt>Star Baker</dt>
                    <dd>{baker.starBaker}</dd>

                    <dt>Innuendo</dt>
                    <dd>{baker.bakerInnuendo}</dd>

                    <dt>Hollywood Handshake</dt>
                    <dd>{baker.hollywoodHandshake}</dd>
                </dl>
            </div>
        </li>
    ))}
</ul>

<svg class="svg">
    <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox"><path d="M0,0.5 C0,0.29,0.29,0,0.5,0 S1,0.29,1,0.5 S0.71,1,0.5,1 S0,0.71,0,0.5"></path></clipPath>
</svg>

<div
  class="dialog-container"
  aria-hidden="true"
  data-a11y-dialog="your-dialog-id"
>
  …
</div>

<style lang="scss">
    .bakers {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .bakers-item {
        border-radius: var(--base-radius);
        padding: 1rem;
    }

    .bakers-item__image {
        clip-path: url(#my-clip-path);
        object-fit: cover;
    }

    .test {
        position: relative;

        &:after {
            background-color: var(--color-primary);
            content: '';
            clip-path: url(#my-clip-path);
            display: block;
            height: 105%;
            left: .25rem;
            opacity: .5;
            position: absolute;
            top: .35rem;
            width: 105%;
            z-index: -1;
        }
    }

    .svg {
        height: 0;
        position: absolute;
        width: 0;
    }

    @media (min-width: 768px) {
        .bakers {
            > :nth-child(2n) {
                justify-content: flex-end;
            }
        }
        .bakers-item {
            align-items: center;
            display: flex;

            > * + * {
                margin-left: 2rem;
            }

            img {
                max-width: 400px;
            }
        }
    }
</style>
